[Unit]
Description=Socat Service
After=network.target

[Service]
Environment=SOCAT_BIND={{ socat_bind }}
Environment=SOCAT_CONNECT={{ socat_connect }}
ExecStart=/usr/bin/socat ${SOCAT_BIND} ${SOCAT_CONNECT}
ExecStop=/bin/kill -s QUIT ${MAINPID}
Restart=always
User=root

[Install]
WantedBy=multi-user.target
