RunAsDaemon 0
DataDirectory {{ tor_path_statedir }}
User debian-tor
Log notice stdout

ExitRelay 0
ExitPolicy reject *:*
ExitPolicyRejectPrivate 1

BridgeRelay 0

AutomapHostsOnResolve 1
CircuitBuildTimeout 60
KeepalivePeriod 60
NewCircuitPeriod 30
NumEntryGuards 8

ControlPort 127.0.0.1:{{ tor_port_control }}
CookieAuthentication 1
CookieAuthFileGroupReadable 1
CookieAuthFile {{ tor_path_statedir }}/control.authcookie
SocksPort 127.0.0.1:{{ tor_port_socks }} IsolateDestAddr

{% if tor_bridges %}
UseBridges 1
{% else %}
UseBridges 0
{% endif %}
UpdateBridgesFromAuthority 1
ClientTransportPlugin obfs4 exec /usr/bin/obfs4proxy
{% for bridge in tor_bridges %}
Bridge {{ bridge }}
{% endfor %}

{% if tor_hiddenservice %}
HiddenServiceDir {{ tor_path_hiddenservice }}
HiddenServicePort {{ tor_port_hiddenservice }} {{ tor_hiddenservice }}
{% endif %}
